a:hover {
    text-decoration: none;
}

.justify-content-between {
    justify-content: space-between!important;
}

.flex {
    display: flex;
}

.navigation {
    background: #586ab8;
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.navagation ul.flex {
    position: static;
    padding: 0 15px;
}

.navigation li {
    display: inline-block;
    position: static;
}


.container {
    width: 950px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navagation li a {
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    padding: 12px 5px 9px;
    font-weight: 700;
}

.has-dropdown {
    position: relative;
    display: inline-block;
}

.has-dropdown:hover .level-2 {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown a {
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    padding: 12px 5px 9px;
    font-weight: 700;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background: #142850;
    min-width: 180px;
    padding: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    display: block;
    border-bottom: 1px solid #fff;
    position: relative;
}

.dropdown-content li a {
    padding: 10px;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    display: inline-block;
}

.col {
    margin: 0;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 20px;
}

.log-in {
    margin: auto 0 auto auto;
    color: #586ab8;
    font-weight: 600;
}
.log-in:hover , .sign-up:hover {
    color: #009dd1!important;
}

.sign-up {
    margin: auto 0 auto 20px;
    color: #586ab8;
    font-weight: 600;
}
.logo {
    cursor: pointer;
}

.subtitle {
    color: #9a9a9a;
    font-size: 16px;
    display: inline-block;
    margin-top: 13px;
}
.modal-body {
    overflow-y: auto;
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
    margin-bottom: 15px;
}

.form-signin{
    width:100%;
    max-width:330px;
    padding:15px;
    margin:auto;
}
.react-responsive-modal-modal {
    margin: auto!important;
}