body {
    padding: 0px;
}

.product-wrap {
    width: 800px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*This is for product detail*/
.product-img {
    width: 50%;
    margin: 10px;
    padding: 5px;
}

.product-img img {
    width: 100%;
}

.product-info {
    width: 40%;
    margin-left: auto;
    padding: 30px 10px;
}
.footer {
    background: #586ab8;
    text-align: center;
    color: #fff;
    font-weight: 800;
}