
@{
    ViewBag.Title = "Products By Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="root" data-param="@Json.Encode(ViewBag.param)"></div>
@Scripts.Render("~/Scripts/dist/productByCategory.js")

